<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Figmarc</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.abc.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDAO</display-name>
    <servlet-name>UserDAO</servlet-name>
    <servlet-class>com.dao.UserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAO</servlet-name>
    <url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.abc.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.abc.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/new</url-pattern>
    <url-pattern>/insert</url-pattern>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageIn</display-name>
    <servlet-name>ImageIn</servlet-name>
    <servlet-class>com.abc.ImageIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageIn</servlet-name>
    <url-pattern>/ImageIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageDAO</display-name>
    <servlet-name>ImageDAO</servlet-name>
    <servlet-class>com.dao.ImageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDAO</servlet-name>
    <url-pattern>/ImageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.abc.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/insertimage</url-pattern>
    <url-pattern>/downloadimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.abc.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
</web-app>